.app-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.user-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.inline-label {
  margin-right: 10px;
}

.user-input select {
  padding: 8px;
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.agregat-selection {
  display: flex;
  justify-content: flex-start; 
  margin-top: 10px; 
}

.agregat-selection label {
  margin-right: 15px; 
}

.output-container {
  display: flex;
  align-items: flex-start; 
  width: 50%;

}

.text-output1 {
  flex: 1;
  margin-right: 20px;
  margin-bottom: 100px 
}
.text-output2 {
  flex: 1;
  margin-right: 20px; 
}

.separator {
  border-top: 2px solid #ccc; 
  width: 30%; 
  margin: 20px 0;
  align-self: center;
}


.date-inputs {
  display: flex;
  align-items: center;
  margin: 10px 0; 
}

.date-inputs label {
  margin-right: 5px; 
}

.date-inputs input {
  margin-right: 20px; 
}
.chart-container {
  width: 100%; 
  margin-left: 20px;
}

